body {
  background: #39374D;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 30px;
  box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}