body{
  background-color:#202020;
  margin:20px auto;
  text-align:center;
}
br{
 line-height:0px; 
}
.dot, .dotfilled, .blank{
  position:relative;
  width:20px;
  height:20px;
  margin:10px;
 
  background-repeat:no-repeat;
}

span{
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin:10px;
}

#digital{
  font-family:'Share Tech Mono';
  font-size:20px;
  font-weight: bold;
  color: #f1f1f2;
}

#actual{
  font-family:'Share Tech Mono';
  font-size:20px;
  font-weight: bold;
  color: #585481;
}