svg {
  position: absolute;
  width: 80vh;
  height: 80vh;
  max-width: 80vw;
  max-height: 80vw;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  stroke-width: 0;
}

body {
  background: #f1f1f2;
}
body .f1 {
  fill: #f1f1f2;
}
body .f2 {
  fill: #f1f1f2;
}
body.frog {
  background: #f1f1f2;
}
body.frog .f1 {
  fill: #0EF998;
}
body.frog .s1 {
  stroke: #0EF998;
}
body.frog .f2 {
  fill: #f1f1f2;
}
body.frog .s2 {
  stroke: #f1f1f2;
}
body.sol {
  background: #f1f1f2;
}
body.sol .f1 {
  fill: #39374D;
}
body.sol .s1 {
  stroke: #39374D;
}
body.sol .f2 {
  fill: #f1f1f2;
}
body.sol .s2 {
  stroke: #f1f1f2;
}
body.wasp {
  background: #f1f1f2;
}
body.wasp .f1 {
  fill: #585481;
}
body.wasp .s1 {
  stroke: #585481;
}
body.wasp .f2 {
  fill: #f1f1f2;
}
body.wasp .s2 {
  stroke: #f1f1f2;
}
body.terra {
  background: #585481;
}
body.terra .f1 {
  fill: #f1f1f2;
}
body.terra .s1 {
  stroke: #f1f1f2;
}
body.terra .f2 {
  fill: #585481;
}
body.terra .s2 {
  stroke: #585481;
}